@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   /* @apply bg-light-color color de fondo de toda la pagiba*/

}


/* variables de colores global */
:root {
  --color-light-beige: #EDCFA9;
  --color-light-orange: #E89F71;
  --color-medium-orange: #D57149;
  --color-dark-brown: #AA4A30;
}
 